@model MassAutoGarage.Models.HRMS_Attendance.HRMSAttendanceModel

@{
    ViewBag.Title = "Attendance";
    ViewBag.pTitle = "Attendance";
    ViewBag.pageTitle = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- New Dive-->
<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
@section styles{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

}

@using (Html.BeginForm("Attendance", "HRMS_Attendance", FormMethod.Post, new { enctype = "multipart/form-data", OnSubmit = "return ValidationForm()", @class = "form-validate" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">


                <div class="card-header main-f">
                    <div class="row">
                        <div class="col-md-12 col-12"> <h5 class="card-title mb-0 gp-detail">HRMS-Attendance</h5></div>
                        @*<div class="col-md-6 col-7">
                                <a href="@Url.Action("Index", "HRMS_EmployeeBankDetails")" class="btn btn-primary add-new" style="float:right;" tabindex="1"> <i class="fa fa-arrow-left align-middle me-1"></i> BACK TO DELIVERY NOTE LIST</a>
                            </div>*@
                    </div>
                </div>

                <!-- end card header -->
                <div class="card-body">
                    <div class="live-preview">
                        <div class="row gy-4">
                            <div class="col-xxl-6 col-md-6">
                                <div>
                                    <label for="basiInput" class="form-label">Date <code>*</code></label>
                                    <input type="text" id="AttendanceDate" name="AttendanceDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xxl-12 col-md-12">
                                <div class="table-responsive">

                                    <table border="1" id="example" class="display table table-bordered mobile-optimised" style="width:100%;">
                                        <thead>
                                            <tr style="background-color: aliceblue;">
                                                <th style=" white-space: nowrap">Voucher Number</th>
                                                <th style=" white-space: nowrap">Employee Name</th>
                                                <th style=" white-space: nowrap">Number of Working Hours</th>
                                                <th style=" white-space: nowrap">Start Time</th>
                                                <th style=" white-space: nowrap">End Time</th>
                                                <th style=" white-space: nowrap">Break Time Start</th>
                                                <th style=" white-space: nowrap">Break Time End</th>
                                                <th style=" white-space: nowrap">Start Time</th>
                                                <th style=" white-space: nowrap">End Time</th>
                                                <th style=" white-space: nowrap">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td>
                                                    <input type="text" name="VoucherNumber" class="form-control txttarget" id="txtVoucherNumber" />
                                                </td>

                                                <td>
                                                    @Html.DropDownListFor(x => x.txtEmpName, new SelectList(ViewBag.EmployeeList, "Id", "EmployeeName"), "- Select Employee Name -", new { @class = "form-control", tabindex = 1 })
                                                    @Html.ValidationMessageFor(m => m.txtEmpName, "", new { @class = "text-danger" })
                                                </td>
                                                <td>
                                                    <input type="text" name="target" class="form-control txttarget" id="txtNumbOfWorkingHrs" value="8" />
                                                </td>
                                                <td>
                                                    <input type="text" name="target" class="form-control txttarget" id="txtStartTime1" style="width:150px" value="7:00:00 AM" />
                                                </td>
                                                <td>
                                                    <input type="text" name="target" class="form-control txttarget" id="txtEndTime1" style="width:150px" value="12:00:00 PM" />
                                                </td>
                                                <td>
                                                    <input type="text" name="target" class="form-control txttarget" id="txtBreakTimeStart" style="width:150px" value="12:00:00 PM" />
                                                </td>
                                                <td>
                                                    <input type="text" name="target" class="form-control txttarget" id="txtBreakTimeEnd" style="width:150px" value="1:00:00 PM" />
                                                </td>
                                                <td>
                                                    <input type="text" name="target" class="form-control txttarget" id="txtStartTime2" style="width:150px" value="1:00:00 PM" />
                                                </td>
                                                <td>
                                                    <input type="text" name="target" class="form-control txttarget" id="txtEndTime2" style="width:150px" value="6:00:00 PM" />
                                                </td>
                                                <td>
                                                    <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd" onclick="Add()">+</button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                            </div>



                            <div class="col-xxl-4 col-md-4">
                                <div>
                                    <input type="button" id="btnsave" value="Save" class="btn btn-success" style=" margin-top: 8%;" />
                                    <input type="button" id="btnReset" value="Reset" class="btn btn-danger" style=" margin-top: 8%;" onclick="return Reset();"/>
                                </div>
                            </div>
                            <div class="col-xxl-12 col-md-12">
                                <div class="form-floating" style="float:left;">


                                </div>

                            </div>
                            <!--end col-->
                            <div class="col-xxl-12 col-md-12">
                                <div class="table-responsive">



                                </div>
                            </div>

                            <div class="col-xxl-12 col-md-12">
                                <div class="form-floating" style="float:right;">


                                </div>

                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>

            </div>
        </div>
    </div>

}
<!--end col-->



@section scripts{
    <!-- prismjs plugin -->
    <script src="~/assets/libs/prismjs/prism.js"></script>
    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/MyApp/HRMS_Attendance.js"></script>


<script>
    $(document).ready(function () {
        vouchernew();
    });

    function Reset() {
        window.location.href = "/HRMS_Attendance/Attendance";
    }

    var options = $.extend({},
        $.datepicker.regional["es"], {
        dateFormat: "dd/mm/yy",
        changeMonth: true,
        changeYear: true,
        todayHighlight: true,
    });
    $("#AttendanceDate").datepicker(options);
</script>



@*<script>
    function Add() {
        debugger;
        if ($("#txtVoucherNumber").val() == "") {
            $("#txtVoucherNumber").addClass('errortext');
            $("#txtVoucherNumber").focus();
            return false;
        }
        else if ($("#txtEmpName").val() == "0") {
            $("#txtEmpName").addClass('errortext');
            $("#txtEmpName").focus();
            return false;
        }
    
        return true;

    };
</script>*@



<script type="text/javascript">

    function Add() {
        AddRow($("#txtVoucherNumber").val(), $("#txtEmpName").val(), $("#txtNumbOfWorkingHrs").val(), $("#txtStartTime1").val(), $("#txtEndTime1").val(), $("#txtBreakTimeStart").val(), $("#txtBreakTimeEnd").val(), $("#txtStartTime2").val(), $("#txtEndTime2").val(),);
        /*$("#txtVoucherNumber").val()*/
        /* $("#txtEmpName").val("");*/
        //$("#ddlProjectName").val(0);
        //$("#ddlClientName").val(0);
        /* $("#txtNumbOfWorkingHrs").val(""); $("#txtStartTime1").val(""); $("#txtEndTime1").val(""); $("#txtBreakTimeStart").val(""); $("#txtBreakTimeEnd").val(""); $("#txtStartTime2").val(""); $("#txtEndTime2").val("");*/
    };

    function AddRow(VoucherNumber, EmpName, NoOfWorking, StartTime1, EndTime1, BreakTimeStart, BreakTimeEnd, StartTime2, EndTime2) {
        //Get the reference of the Table's TBODY element.
        var tBody = $("#example > TBODY")[0];

        row = tBody.insertRow(-1);

        //Add  cell.
        var cell = $(row.insertCell(-1));
        cell.html(VoucherNumber);
        //Add  cell.
        cell = $(row.insertCell(-1));
        cell.html(EmpName);
        //Add  cell.
        cell = $(row.insertCell(-1));
        cell.html(NoOfWorking);
        //Add  cell.
        cell = $(row.insertCell(-1));
        cell.html(StartTime1);
        //Add  cell.
        cell = $(row.insertCell(-1));
        cell.html(EndTime1);
        //Add  cell.
        cell = $(row.insertCell(-1));
        cell.html(BreakTimeStart);
        //Add  cell.
        cell = $(row.insertCell(-1));
        cell.html(BreakTimeEnd);
        //Add  cell.
        cell = $(row.insertCell(-1));
        cell.html(StartTime2);
        //Add  cell.
        cell = $(row.insertCell(-1));
        cell.html(EndTime2);

        //Add Button cell.
        cell = $(row.insertCell(-1));
        var btnRemove = $("<input />");
        btnRemove.attr("type", "button");
        btnRemove.attr("onclick", "Remove(this);");
        btnRemove.val("-");
        cell.append(btnRemove);
        calculatemaxid();
    };

    function Remove(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var name = $("TD", row).eq(0).html();
        if (confirm("Do you want to delete: " + name)) {

            //Get the reference of the Table.
            var table = $("#example")[0];

            //Delete the Table row using it's Index.
            table.deleteRow(row[0].rowIndex);
        }
    };



    function vouchernew() {

        $.ajax({
            type: 'POST',
            url: '/HRMS_Attendance/GetMaxVoucher',
            data: "{}",
            dataType: "json",
            success: function (result) {
                $.each(result, function (i, v) {
                    var i = v.MaxID;
                    $("#txtVoucherNumber").val(i);
                })
            }
        })
    }


    function calculatemaxid() {

        var i = parseInt(1);
        var vocherno = parseInt($("#txtVoucherNumber").val());

        var newvoucher = vocherno + i;
        $("#txtVoucherNumber").val(newvoucher);
    }
</script>

<script>
    $("#btnsave").click(function () {
        debugger;
        var AttendanceDate_ = $("#AttendanceDate").val();
      
        var tableLength = $("#example tr").length;
        var AttendanceListArr = [];

        if (AttendanceDate_ != "" && tableLength > 2) {

            if (tableLength > 2) {

                for (var i = 0; i < tableLength - 2; i++) {

                    var AttendanceList = {
                        AttendanceDate: AttendanceDate_,
                      
                        VoucherNumber: $("#example tBody tr:eq(" + i + ")").find('td:eq(0)').html(),
                        EmployeeId: $("#example tBody tr:eq(" + i + ")").find('td:eq(1)').html(),
                        NumberOfWorkingHours: $("#example tBody tr:eq(" + i + ")").find('td:eq(2)').html(),
                        StartTime: $("#example tBody tr:eq(" + i + ")").find('td:eq(3)').html(),
                        EndTime: $("#example tBody tr:eq(" + i + ")").find('td:eq(4)').html(),
                        BreakTimeStart: $("#example tBody tr:eq(" + i + ")").find('td:eq(5)').html(),
                        BreakTimeEnd: $("#example tBody tr:eq(" + i + ")").find('td:eq(6)').html(),
                        StartTime1: $("#example tBody tr:eq(" + i + ")").find('td:eq(7)').html(),
                        EndTime1: $("#example tBody tr:eq(" + i + ")").find('td:eq(8)').html(),
                    };
                    AttendanceListArr.push(AttendanceList);
                }
                $.ajax({
                    type: 'POST',
                    url: '/HRMS_Attendance/SaveAttendance',
                    data: JSON.stringify(AttendanceListArr),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (data) {
                        if (data.Result == "yes") {
                            swal({
                                title: "success",
                                text: "Record Successfully Saved.",
                                type: "success",
                            }).then(function (isConfirm) {
                                if (isConfirm) {
                                    window.location.reload();
                                } else {

                                }
                            });
                        }
                        else if (data == "yes1") {
                            swal({
                                title: "success",
                                text: "Record Successfully Updated.",
                                type: "success",
                            }).then(function (isConfirm) {
                                if (isConfirm) {
                                    window.location.reload();
                                } else {

                                }
                            });
                        }
                        else {
                            swal("Warning", "Record not save!", "warning");
                        }
                    },
                    error: function (httpResponse) {
                        swal("Warning", "Something Went to Wrong!", "warning");
                    }
                })
            }
        }
        else {

            if (AttendanceDate_ == "") {
                swal("Warning", "Please Enter Date !", "warning")
                return false;
            }
            if (tableLength == 2) {
                swal("Warning", "Please At least 1 row data required.", "warning");
                return false;
            }
        }
    })
</script>


<style>
    .errortext {
        border: 1px solid red !important;
        background-color: #fff0f0 !important;
    }
</style>





