@model List<MassAutoGarage.Models.AddOnsMaster.AddOnsMasterModel>

@{
    ViewBag.Title = "Customer Contract";
    ViewBag.pTitle = "Customer Contract";
    ViewBag.pageTitle = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1; int j = 1;
}
<style type="text/css">
    body {
        font-family: Inter, sans-serif;
        font-size: 10pt;
    }

    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        border-width: thin;
    }

        table th {
            background-color: #F7F7F7;
            color: #333;
            font-weight: bold;
        }

        table th, table td {
            padding: 5px;
            border: 1px solid #ccc;
            border-width: thin;
        }
</style>

<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
@section styles{
    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
}



<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header main-f">
                <div class="row">
                    <div class="col-md-6 col-5"> <h5 class="card-title mb-0 gp-detail">CUSTOMER CONTRACT</h5></div>
                    <div class="col-md-6 col-7">
                        <a href="@Url.Action("AddCustomerContract","CustomerContract")" class="btn btn-primary add-new" style="float:right;" tabindex="1"> <i class="ri-add-circle-line align-middle me-1"></i> ADD CUSTOMER CONTRACT</a>
                    </div>
                </div>

                @*<h5 class="card-title mb-0">CUSTOMER CONTRACT</h5>
                <a href="@Url.Action("AddCustomerContract","CustomerContract")" class="btn btn-primary" style="float:right;" tabindex="1"><i class="ri-add-circle-line align-middle me-1"></i>ADD CUSTOMER CONTRACT</a>*@

            </div>
            <div class="card-body">
                <div class="col-lg-12">
                    <div class="live-preview">
                        <div class="row gy-4">
                            <div class="col-xxl-4 col-md-6 col-5">
                                Advance Filter <input type="text" id="txtsearch" class="form-control" tabindex="2" />

                            </div>
                            <div class="col-xxl-8 col-md-6 col-7 right-text">

                                <button id="btnExport" class="btn btn-soft-primary btn-sm shadow-none" style="margin-top:20px;" tabindex="3"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</button>
                                <button id="btnPdf" class="btn btn-soft-primary btn-sm shadow-none" style="margin-top:20px;" tabindex="4"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</button>
                                <button id="btnprint" class="btn btn-soft-primary btn-sm shadow-none" style="margin-top:20px;" onclick="Print()" tabindex="5"><i class="fa fa-print" aria-hidden="true"></i> Print</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive mt-3">

                    <table border="1" id="example" class="display table table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th style=" width: 1%;">SL.</th>
                                <th>Voucher Code</th>
                                <th>Service Name </th>
                                <th>Comission</th>
                                <th>Comission Amt.</th>
                                <th style=" width: 15%;">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                    <table id="CompanyGroup" class="table pure-table" style="width: 100%; display: none;" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th colspan="5">
                                    <img src="@ViewBag.compnylgo" alt="" style="width: 213px; border-radius: 7px;">
                                    <span style=" float: right;"> <b>Address  :-</b> @ViewBag.compnyAddress</span>
                                </th>
                            </tr>
                            <tr>
                                <th style=" width: 1%;">Srl.No</th>
                                <th>Voucher Code</th>
                                <th>Service Name </th>
                                <th>Comission</th>
                                <th>Comission Amt.</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!--datatable js-->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script src="~/assets/js/pages/datatables.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    $(document).ready(function () {

        var queryString = new Array();
        if (queryString.length == 0) {
            if (window.location.search.split('?').length > 1) {
                var params = window.location.search.split('?')[1].split('&');
                for (var i = 0; i < params.length; i++) {
                    var key = params[i].split('=')[0];
                    var value = decodeURIComponent(params[i].split('=')[1]);
                    queryString[key] = value;
                }
            }

            $('#txtsearch').val(queryString[key]);
        }



    });

    function ConfirmDelete(GrdId) {
        debugger;
        var x = confirm("Are you sure you want to delete?");
        if (x)

            if (GrdId > 0) {
                $.ajax({
                    url: '/AddOnsMaster/DeleteAddONS',
                    type: "GET",
                    dataType: "json",
                    data: { AddONSID: GrdId },
                    success: function (result) {
                        if (result == "3") {

                            swal({
                                title: "Success",
                                text: "Records Successfully Deleted",
                                type: "success",
                            }).then(function (isConfirm) {
                                if (isConfirm) {

                                    window.location.reload();
                                } else {

                                }
                            });

                        } else {

                            swal("Warning", "Records not Deleted", "warning");
                        }

                    },
                    error: function (xhr, status) {
                        console.log(status);
                        console.log(xhr);
                    },
                    complete: function () {

                    }
                });
            }
            else
                return false;
    }

    $('#txtsearch').change(function () {

        searchfromDB();
    });

    function searchfromDB() {
        debugger;

        var SearchKey = $('#txtsearch').val();
        var url = "/AddOnsMaster/OnsDetails?Key=" + SearchKey;
        window.location.href = url;
    }
    function generate() {
        var doc = new jspdf.jsPDF()

        // Simple data example
        //var head = [['ID', 'Country', 'Rank', 'Capital']]
        //var body = [
        //    [1, 'Denmark', 7.526, 'Copenhagen'],
        //    [2, 'Switzerland', 7.509, 'Bern'],
        //    [3, 'Iceland', 7.501, 'Reykjavík'],
        //]
        //doc.autoTable({ head: head, body: body })

        // Simple html example
        doc.autoTable({ html: '#CompanyGroup' })

        doc.save('Nationality.pdf')
    }

    $(function () {

        //var tble = document.getElementById('CompanyGroup');
        //var row = tble.rows;
        //var i = 6;
        //for (var j = 0; j < row.length; j++) {


        //    row[j].deleteCell(i);
        //}



        var table = $('#example').DataTable();
        $("#btnExport").click(function (e) {
            debugger;

            // Getting the table


            table.page.len(-1).draw();
            window.open('data:application/vnd.ms-excel,' +
                encodeURIComponent($('#example').parent().html()));
            setTimeout(function () {
                table.page.len(10).draw();
            }, 1000)

        });
    });
</script>
<script type="text/javascript">
    $("body").on("click", "#btnPdf", function () {
        debugger;

        $('#CompanyGroup').css("display", "inline-table");

        html2canvas($('#CompanyGroup')[0], {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };
                pdfMake.createPdf(docDefinition).download("AddONSDetails.pdf");
                $('#CompanyGroup').css("display", "none");
            }
        });
    });

</script>
