@model List<MassAutoGarage.Models.HRMS_Employee.HRMSEmployeeModel>

@{
    ViewBag.Title = "Employee";
    ViewBag.pTitle = "Employee";
    ViewBag.pageTitle = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1; int j = 1;
}
<style type="text/css">
    body {
        font-family: Inter, sans-serif;
        font-size: 10pt;
    }

    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        border-width: thin;
    }

        table th {
            background-color: #F7F7F7;
            color: #333;
            font-weight: bold;
        }

        table th, table td {
            padding: 5px;
            border: 1px solid #ccc;
            border-width: thin;
        }
</style>


<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
@section styles{
    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
}



<div class="row">
    <div class="col-lg-12">
        <div class="card">

            <div class="card-header main-f">
                <div class="row">
                    <div class="col-md-6 col-5"> <h5 class="card-title mb-0 gp-detail">EMPLOYEE</h5></div>
                    <div class="col-md-6 col-7">
                        <a href="@Url.Action("Employee","HRMS_Employee")" class="btn btn-primary add-new" style="float:right;" tabindex="1"> <i class="fa fa-arrow-left align-middle me-1"></i>ADD EMPLOYEE</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="col-lg-12">
                    <div class="live-preview">
                        <div class="row gy-4 mb-3">
                            <div class="col-xxl-4 col-md-6 col-5">
                                Advance Filter <input type="text" id="txtsearch" class="form-control" tabindex="2" />

                            </div>
                            <div class="col-xxl-8 col-md-6 col-7 right-text">

                                <button id="btnExport" class="btn btn-soft-primary btn-sm shadow-none" style="margin-top:20px;" tabindex="3"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</button>
                                <button id="btnPdf" class="btn btn-soft-primary btn-sm shadow-none" style="margin-top:20px;" tabindex="4"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</button>
                                <button id="btnprint" class="btn btn-soft-primary btn-sm shadow-none" style="margin-top:20px;" onclick="Print()" tabindex="5"><i class="fa fa-print" aria-hidden="true"></i> Print</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">

                    <table border="1" id="example" class="display table table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th style=" width: 1%;">S.N.</th>
                                <th>Employee Code</th>
                                <th>Employee Name</th>
                                <th>Designation</th>
                                <th>Reporting Manager</th>
                                @*<th>Photo</th>*@
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tBodyId">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <fieldset>
                    <legend style="background-color:#c3c3d9;">Employee Details</legend>
                    <div class="row gy-4">
                        <div class="col-xxl-3 col-md-3">
                            <div>
                                <label for="labelInput" class="form-label">Employee Code</label>
                                <p id="EmployeeCode"></p>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-3">
                            <div>
                                <label for="labelInput" class="form-label">Employee Name</label>
                                <p id="EmployeeName"></p>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-3">
                            <div>
                                <label for="labelInput" class="form-label">Designation</label>
                                <p id="Designation"></p>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-3">
                            <div>
                                <label for="labelInput" class="form-label">Reporting Manager</label>
                                <p id="ReportingManager"></p>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend style="background-color:#c3c3d9;">Passport Details</legend>
                    <div class="row gy-4">
                        <div class="col-xxl-3 col-md-4">
                            <div>
                                <label for="labelInput" class="form-label">Employee Code</label>
                                <p id="EmployeeCode"></p>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-4">
                            <div>
                                <label for="labelInput" class="form-label">Employee Name</label>
                                <p id="EmployeeName"></p>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-4">
                            <div>
                                <label for="labelInput" class="form-label">Designation</label>
                                <p id="Designation"></p>
                            </div>
                        </div>
                     


                    </div>
                </fieldset>

                <fieldset>
                    <legend style="background-color:#c3c3d9;">Contact  Details</legend>
                    <div class="row gy-4">
                        <div class="col-xxl-3 col-md-4">
                            <div>
                                <label for="labelInput" class="form-label">Employee Code</label>
                                <p id="EmployeeCode"></p>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-4">
                            <div>
                                <label for="labelInput" class="form-label">Employee Name</label>
                                <p id="EmployeeName"></p>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-md-4">
                            <div>
                                <label for="labelInput" class="form-label">Designation</label>
                                <p id="Designation"></p>
                            </div>
                        </div>
                    </div>
                </fieldset>



            </div>

            <div class="modal-footer">
                @*<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>*@
            </div>
        </div>
    </div>
</div>


@section scripts{
    <!-- prismjs plugin -->
    <script src="~/assets/libs/prismjs/prism.js"></script>
    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="~/MyApp/HRMS_Employee.js"></script>

<script>
    $(document).ready(function () {
        EmployeeList();
    })

    //function ViewEmployeeDetails() {
    //    debugger;
    //    $("#staticBackdrop").modal('show');
    //}
</script>






