@model MassAutoGarage.Models.HRMS_EmployeeDocuments.HRMSEmployeeDocumentsModel

@{
    ViewBag.Title = "Leave Request";
    ViewBag.pTitle = "Leave Request";
    ViewBag.pageTitle = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1; int j = 1;
}


<style>

    .main-table {
        width: 100%;
        /*  max-width: 980px;*/
        /* change to suit*/
        margin: auto;
        border: 1px solid #4b38af;
        border-collapse: collapse;
    }

        .main-table thead th {
            background: #4b38af;
            color: #fff;
            color: #fff;
            font-size: 0.8rem;
            padding: 5px 9px 6px 9px;
            line-height: 1;
            border: 1px solid #626060;
        }

        .main-table th,
        .main-table td {
            vertical-align: top;
            text-align: left;
            border: 1px solid #626060;
        }

    td.numbers {
        text-align: center;
    }

    .main-table td {
        font-size: 13px; /* font-size: 0.7rem;*/
        padding: 3px 9px;
        border-bottom: 1px solid #999; /* dotted borders look bad on tables*/
        line-height: 1.2;
    }

    .table-heading {
        font-size: 0.7rem;
        margin: 0 0 0.5em;
    }

    .item-options {
        margin: 0 0 0.5rem;
        overflow: hidden;
        clear: both;
    }

        .item-options dt {
            margin: 0;
            font-weight: bold;
        }

        .item-options dt,
        .item-options dd {
            display: inline-block;
            margin: 0;
            padding: 0 5px 0 0;
            vertical-align: top;
        }

            .item-options dt:after {
                content: ":";
            }

    .main-table tbody tr:nth-child(odd) td {
        background: #f9f9f9;
    }

    @@media screen and (max-width: 540px) {
        table.mobile-optimised {
            word-wrap: break-word;
            font-size: 1rem;
            border: none;
        }

            table.mobile-optimised thead {
                display: none;
            }

            table.mobile-optimised td {
                display: block;
                float: left; /* ie9 and under hack */
                width: 100%;
                clear: both;
                background: #eee;
                border: none;
                padding: 10px 5px;
                box-sizing: border-box;
                font-size: 12px;
            }

            table.mobile-optimised tbody,
            table.mobile-optimised tr {
                display: block;
            }

        .mobile-optimised td:before {
            content: attr(data-th);
            display: block;
            font-weight: bold;
            margin: 0 0 2px;
            background: #4b38af;
            color: #fff;
            padding: 5px;
        }

        .mobile-optimised tbody tr {
            border-bottom: 1px solid #000;
            overflow: hidden;
        }

        .item-options,
        .table-heading {
            font-size: 1rem;
        }

        .mobile-optimised .numbers {
            text-align: left;
        }

        .main-table tbody tr:nth-child(odd) td {
            background: #ccc;
        }
    }


    /*    fieldset start   */

    fieldset {
        border: solid;
        border-color: #151529;
        border-width: thin;
    }

    legend {
        float: none;
        width: 42%;
        background-color: #bbb1b1;
        color: white;
        padding: 5px 10px;
        font-size: small;
    }

    input {
        margin: 5px;
    }


    #fieldsetRequestFor {
        border: solid;
        border-color: #151529;
        border-width: thin;
    }

    #legendRequestFor {
        float: none;
        width: 15%;
        background-color: #bbb1b1;
        color: white;
        padding: 5px 10px;
        font-size: small;
    }

    #fieldsetCertificate {
        border: solid;
        border-color: #151529;
        border-width: thin;
    }

    #legendCertificate {
        float: none;
        width: 13%;
        background-color: #bbb1b1;
        color: white;
        padding: 4px 9px;
        font-size: small;
    }

    #fieldsetCashAdvance {
        border: solid;
        border-color: #151529;
        border-width: thin;
    }

    #legendCashAdvance {
        float: none;
        width: 35%;
        background-color: #bbb1b1;
        color: white;
        padding: 4px 9px;
        font-size: small;
    }

    #legendLeaveDate {
        float: none;
        width: 10%;
        background-color: #bbb1b1;
        color: white;
        padding: 4px 9px;
        font-size: small;
    }


    #legendAirTicket {
        float: none;
        width: 20%;
        background-color: #bbb1b1;
        color: white;
        padding: 4px 9px;
        font-size: small;
    }
    

    #legendApplyForSickLeave {
        float: none;
        width: 40%;
        background-color: #bbb1b1;
        color: white;
        padding: 4px 9px;
        font-size: small;
    }

    

  

    /*    fieldset end   */
</style>

<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
@section styles{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

@using (Html.BeginForm("LeaveRequest", "HR_LeaveRequest", FormMethod.Post, new { enctype = "multipart/form-data", OnSubmit = "return ValidationForm()", @class = "form-validate", @id = "myformid" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header main-f">
                    <div class="row">
                        <div class="col-md-6 col-5"> <h5 class="card-title mb-0 gp-detail">HR_Leave Request</h5></div>
                        <div class="col-md-6 col-7">
                            <a href="@Url.Action("LeaveRequestList","HR_LeaveRequest")" class="btn btn-primary add-new" style="float:right;" tabindex="1"> <i class="fa fa-arrow-left align-middle me-1"></i> Back To Leave Request List</a>
                        </div>
                    </div>
                </div>
                <!-- end card header -->
                <div class="card-body">
                    <div class="live-preview">
                        <div class="row gy-4">
                            <fieldset>
                                <legend style="background-color:#151529">( Please Fill In The Information Inside The Box And Line Provided )</legend>

                                <div class="row gy-4" style="margin-bottom:15px;">

                                    <div class="col-xxl-3 col-md-3">
                                        <label for="labelInput" class="form-label"> Voucher Number <code>*</code></label>
                                        <input type="text" class="form-control" id="EmployeeId" readonly />
                                    </div>

                                </div>
                                <hr />
                                <div class="row gy-4" style="margin-bottom:15px;">
                                    <div class="col-xxl-3 col-md-4">
                                        <label for="labelInput" class="form-label">Employee Name <code>*</code></label>
                                        <select class="form-control">
                                            <option>--Select Employee--</option>
                                            <option>Sudhakar Sharma</option>
                                            <option>Jitu Kumar</option>
                                        </select>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <label for="labelInput" class="form-label">Date<code>*</code></label>
                                        <input type="text" class="form-control" id="EmployeeId" />
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <label for="labelInput" class="form-label">Designation<code>*</code></label>
                                        <select class="form-control">
                                            <option>--Select Designation--</option>
                                            <option>Software Engineer</option>
                                            <option>Singer</option>
                                        </select>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <label for="labelInput" class="form-label">Emp No<code>*</code></label>
                                        <input type="text" class="form-control" id="EmployeeId" readonly />
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <label for="labelInput" class="form-label">Company<code>*</code></label>
                                        <select class="form-control">
                                            <option>--Select Company--</option>
                                            <option>Mass Nex Zen</option>
                                            <option>Ezip Info Tech</option>
                                        </select>
                                    </div>
                                    <div class="col-xxl-3 col-md-4">
                                        <label for="labelInput" class="form-label">Department<code>*</code></label>
                                        <select class="form-control">
                                            <option>--Select Department--</option>
                                            <option>Software</option>
                                            <option>Civil</option>
                                        </select>
                                    </div>

                                    <div class="col-xxl-6 col-md-6" style="padding-right:20px;">
                                        <label for="labelInput" class="form-label">Branch<code>*</code></label>
                                        <select class="form-control">
                                            <option>--Select Branch--</option>
                                            <option>Tamkuhi Raj</option>
                                            <option>Kushinahar</option>
                                        </select>
                                    </div>
                                    <div class="col-xxl-6 col-md-6" style="padding-right:20px;">
                                        <label for="labelInput" class="form-label">Date Of Joining<code>*</code></label>
                                        <input type="text" class="form-control" id="EmployeeId" />
                                    </div>


                                </div>
                            </fieldset>
                        </div>

                        <div class="row gy-4">
                            <fieldset style="margin-top:50px;" id="fieldsetCashAdvance">
                                <legend style="background-color:#151529;" id="legendCashAdvance">Type Of Leave (Please Tick Whichever Is Applicable)</legend>

                                <div class="row gy-4" style="margin-bottom: 15px; padding-left: 10px; padding-right: 10px;">
                                    <div class="col-xxl-4 col-md-4">
                                        <label class="form-control"><input type="checkbox" />Marriage Leave (Uae Nationals)</label>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <label class="form-control"><input type="checkbox" />Annual Leave</label>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <label class="form-control"><input type="checkbox" />Authorized UnPaid Leave</label>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <label class="form-control"><input type="checkbox" />Emergency Leave</label>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <label class="form-control"><input type="checkbox" />Sick Leave</label>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <label class="form-control"><input type="checkbox" />Maternity/Paternity Leave</label>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <label class="form-control"><input type="checkbox" />Others</label>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <input type="text" class="form-control" id="EmployeeId" placeholder="Please Specify" />
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <label class="form-control"><input type="checkbox" />Local Leave</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>


                        <div class="row gy-4">
                            <fieldset style="margin-top:50px;" id="fieldsetCashAdvance">
                                <legend style="background-color:#151529;" id="legendLeaveDate">Leave Date</legend>

                                <div class="row gy-4" style="margin-bottom: 15px; padding-left: 10px; padding-right: 10px;">
                                    <div class="col-xxl-6 col-md-6">
                                        <label for="labelInput" class="form-label">From Date<code>*</code></label>
                                        <input type="text" class="form-control" id="EmployeeId" />
                                    </div>
                                    <div class="col-xxl-6 col-md-6">
                                        <label for="labelInput" class="form-label">To Date<code>*</code></label>
                                        <input type="text" class="form-control" id="EmployeeId" />
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="row gy-4">
                            <fieldset style="margin-top:50px;" id="fieldsetCashAdvance">
                                <legend style="background-color:#151529;" id="legendAirTicket">Air Ticket (As Per Eligibility)</legend>

                                <div class="row gy-4" style="margin-bottom: 15px; padding-left: 10px; padding-right: 10px;">
                                    <div class="col-xxl-4 col-md-4">
                                        <label for="labelInput" class="form-label">AirPort Name<code>*</code></label>
                                        <input type="text" class="form-control" id="EmployeeId" />
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <label for="labelInput" class="form-label">AirPort From Name<code>*</code></label>
                                        <input type="text" class="form-control" id="EmployeeId" />
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <label for="labelInput" class="form-label">AirPort To Name<code>*</code></label>
                                        <input type="text" class="form-control" id="EmployeeId" />
                                    </div>
                                </div>
                            </fieldset>
                        </div>


                        <div class="row gy-4">
                            <fieldset style="margin-top:50px;" id="fieldsetCashAdvance">
                                <legend style="background-color:#151529;" id="legendApplyForSickLeave">Please Fill In The Information Below To Apply For Sick Leave</legend>

                                <div class="row gy-4" style="margin-bottom: 15px; padding-left: 10px; padding-right: 10px;">
                                    <div class="col-xxl-12 col-md-12">
                                        <label for="labelInput" class="form-label">Reason For Sick Leave<code>*</code></label>
                                        <input type="text" class="form-control" id="EmployeeId" />
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <label class="form-control" style="text-align:end">Medical Certificate : </label>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <label class="form-control"><input type="checkbox" />No </label>
                                    </div>
                                    <div class="col-xxl-4 col-md-4">
                                        <label class="form-control"><input type="checkbox" />Yes (Kindly Attack It With Your Request)</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="row gy-4" style="margin-top:10px; padding-left: 10px; padding-right: 10px;">
                            <div class="col-xxl-6 col-md-6" style="padding-left: 10px; padding-right: 10px;">
                                <label for="labelInput" class="form-label">Email Id <code>*</code></label>
                                <input type="text" class="form-control" id="EmployeeId" />
                            </div>
                            <div class="col-xxl-6 col-md-6" style="padding-left: 10px; padding-right:15px;">
                                <label for="labelInput" class="form-label">Mobile Number<code>*</code></label>
                                <input type="text" class="form-control" id="EmployeeId" />
                            </div>
                        </div>



                    </div>
                </div>
                <br />
                <div class="col-xxl-12 col-md-12">
                    <div class="form-floating" style="float: right; padding-right: 2%;">
                        <input type="button" value="Save" id="btnsave" class="btn btn-primary" />
                        <a href="/HRMS_Employee/Employee" class="btn btn-danger">Reset</a>
                    </div>
                </div>
                <br />
            </div>
        </div>
        <!--end col-->
    </div>
    <!-- Modal -->
}

@section scripts{
    <!--select2 cdn-->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/assets/js/pages/select2.init.js"></script>
    <script src="~/assets/libs/prismjs/prism.js"></script>
    <script src="~/assets/js/app.js"></script>
    <!-- prismjs plugin -->
    <!-- App js -->
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@*<link rel="stylesheet" href="/resources/demos/style.css">*@
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/MyApp/AddONS.js"></script>

<script>
    $(document).ready(function () {

    })
</script>
