@model MassAutoGarage.Models.HRMS_LeaveType.HRMSLeaveTypeModel

@{
    ViewBag.Title = "Leave Type";
    ViewBag.pTitle = "Leave Type Master";
    ViewBag.pageTitle = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}



<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
    }

        table th {
            background-color: #F7F7F7;
            color: #333;
            font-weight: bold;
        }

        table th, table td {
            padding: 5px;
            border: 1px solid #ccc;
        }
</style>

<style>

    .main-table {
        width: 100%;
        /*  max-width: 980px;*/
        /* change to suit*/
        margin: auto;
        border: 1px solid #4b38af;
        border-collapse: collapse;
    }

        .main-table thead th {
            background: #4b38af;
            color: #fff;
            color: #fff;
            font-size: 0.8rem;
            padding: 5px 9px 6px 9px;
            line-height: 1;
            border: 1px solid #626060;
        }

        .main-table th,
        .main-table td {
            vertical-align: top;
            text-align: left;
            border: 1px solid #626060;
        }

    td.numbers {
        text-align: center;
    }

    .main-table td {
        font-size: 13px; /* font-size: 0.7rem;*/
        padding: 3px 9px;
        border-bottom: 1px solid #999; /* dotted borders look bad on tables*/
        line-height: 1.2;
    }

    .table-heading {
        font-size: 0.7rem;
        margin: 0 0 0.5em;
    }

    .item-options {
        margin: 0 0 0.5rem;
        overflow: hidden;
        clear: both;
    }

        .item-options dt {
            margin: 0;
            font-weight: bold;
        }

        .item-options dt,
        .item-options dd {
            display: inline-block;
            margin: 0;
            padding: 0 5px 0 0;
            vertical-align: top;
        }

            .item-options dt:after {
                content: ":";
            }

    .main-table tbody tr:nth-child(odd) td {
        background: #f9f9f9;
    }

    @@media screen and (max-width: 540px) {
        table.mobile-optimised {
            word-wrap: break-word;
            font-size: 1rem;
            border: none;
        }

            table.mobile-optimised thead {
                display: none;
            }

            table.mobile-optimised td {
                display: block;
                float: left; /* ie9 and under hack */
                width: 100%;
                clear: both;
                background: #eee;
                border: none;
                padding: 10px 5px;
                box-sizing: border-box;
                font-size: 12px;
            }

            table.mobile-optimised tbody,
            table.mobile-optimised tr {
                display: block;
            }

        .mobile-optimised td:before {
            content: attr(data-th);
            display: block;
            font-weight: bold;
            margin: 0 0 2px;
            background: #19937b;
            color: #fff;
            padding: 5px;
        }

        .mobile-optimised tbody tr {
            border-bottom: 1px solid #000;
            overflow: hidden;
        }

        .item-options,
        .table-heading {
            font-size: 1rem;
        }

        .mobile-optimised .numbers {
            text-align: left;
        }

        .main-table tbody tr:nth-child(odd) td {
            background: #ccc;
        }
    }
</style>
<!-- New Dive-->

@using (Html.BeginForm("LeaveType", "HRMS_LeaveType", FormMethod.Post, new { enctype = "multipart/form-data", OnSubmit = "return ValidationForm()", @class = "form-validate", @id = "myformid" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">


                <div class="card-header main-f">
                    <div class="row">
                        <div class="col-md-12 col-12"> <h5 class="card-title mb-0 gp-detail">HRMS-LEAVE TYPE</h5></div>
                        @*<div class="col-md-6 col-7">
                                <a href="@Url.Action("Index","RetailDeliveryNote")" class="btn btn-primary add-new" style="float:right;" tabindex="1"> <i class="fa fa-arrow-left align-middle me-1"></i> BACK TO DELIVERY NOTE LIST</a>
                            </div>*@
                    </div>
                </div>

                <!-- end card header -->
                <div class="card-body">
                    <div class="live-preview">
                        <div class="row gy-4">
                            <div class="col-xxl-3 col-md-4">
                                <div>
                                    <label for="basiInput" class="form-label">Leave Types <code>*</code></label>
                                    @Html.HiddenFor(m => m.LeaveID, new { @class = "form-control" })
                                    @Html.TextBoxFor(m => m.LeaveType, new { @class = "form-control", tabindex = 1 })
                                    @Html.ValidationMessageFor(m => m.LeaveType, null, new { @class = "field-validation-error", data_valmsg_for = "ShortName" })
                                </div>
                            </div>
                            <div class="col-xxl-3 col-md-4">
                                <div>
                                    <input type="button" id="btnsave" value="Save" class="btn btn-success" style=" margin-top: 10%;" />
                                    <input type="button" id="btnReset" value="Reset" class="btn btn-danger" style=" margin-top: 10%;"  onclick="return Reset();"/>

                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-xxl-12 col-md-12">
                                <div class="table-responsive">

                                    <table border="1" id="example" class="display table table-bordered mobile-optimised" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th style=" width: 5%;">S.N.</th>
                                                <th>Leave Types </th>
                                                <th style="width:15%">Action</th>

                                            </tr>
                                        </thead>
                                        <tbody id="tBodyId">

                                        </tbody>
                                    </table>





                                </div>
                            </div>

                            <div class="col-xxl-12 col-md-12">
                                <div class="form-floating" style="float:right;">



                                </div>
                            </div>
                            <!--end col-->
                        </div>
                        <!--end row-->
                    </div>

                </div>
            </div>
        </div>
        <!--end col-->
    </div>
}

@section scripts{
    <!-- prismjs plugin -->
    <script src="~/assets/libs/prismjs/prism.js"></script>
    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="~/MyApp/HRMS_LeaveType.js"></script>

<script>
    $(document).ready(function () {

        LeaveTypeList();
    })

</script>




