@model MassAutoGarage.Models.CompanyMasterModel
@{
    ViewBag.Title = "Employee Bank Details";
    ViewBag.pTitle = "Employee Bank Details";
    ViewBag.pageTitle = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>

    .main-table {
        width: 100%;
        /*  max-width: 980px;*/
        /* change to suit*/
        margin: auto;
        border: 1px solid #4b38af;
        border-collapse: collapse;
    }

        .main-table thead th {
            background: #4b38af;
            color: #fff;
            color: #fff;
            font-size: 0.8rem;
            padding: 5px 9px 6px 9px;
            line-height: 1;
            border: 1px solid #626060;
        }

        .main-table th,
        .main-table td {
            vertical-align: top;
            text-align: left;
            border: 1px solid #626060;
        }

    td.numbers {
        text-align: center;
    }

    .main-table td {
        font-size: 13px; /* font-size: 0.7rem;*/
        padding: 3px 9px;
        border-bottom: 1px solid #999; /* dotted borders look bad on tables*/
        line-height: 1.2;
    }

    .table-heading {
        font-size: 0.7rem;
        margin: 0 0 0.5em;
    }

    .item-options {
        margin: 0 0 0.5rem;
        overflow: hidden;
        clear: both;
    }

        .item-options dt {
            margin: 0;
            font-weight: bold;
        }

        .item-options dt,
        .item-options dd {
            display: inline-block;
            margin: 0;
            padding: 0 5px 0 0;
            vertical-align: top;
        }

            .item-options dt:after {
                content: ":";
            }

    .main-table tbody tr:nth-child(odd) td {
        background: #f9f9f9;
    }

    @@media screen and (max-width: 540px) {
        table.mobile-optimised {
            word-wrap: break-word;
            font-size: 1rem;
            border: none;
        }

            table.mobile-optimised thead {
                display: none;
            }

            table.mobile-optimised td {
                display: block;
                float: left; /* ie9 and under hack */
                width: 100%;
                clear: both;
                background: #eee;
                border: none;
                padding: 10px 5px;
                box-sizing: border-box;
                font-size: 12px;
            }

            table.mobile-optimised tbody,
            table.mobile-optimised tr {
                display: block;
            }

        .mobile-optimised td:before {
            content: attr(data-th);
            display: block;
            font-weight: bold;
            margin: 0 0 2px;
            background: #19937b;
            color: #fff;
            padding: 5px;
        }

        .mobile-optimised tbody tr {
            border-bottom: 1px solid #000;
            overflow: hidden;
        }

        .item-options,
        .table-heading {
            font-size: 1rem;
        }

        .mobile-optimised .numbers {
            text-align: left;
        }

        .main-table tbody tr:nth-child(odd) td {
            background: #ccc;
        }
    }
</style>
<!-- New Dive-->
<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
@section styles{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />




}

@using (Html.BeginForm("EmployeeBankDetails", "HRMS_EmployeeBankDetails", FormMethod.Post, new { enctype = "multipart/form-data", OnSubmit = "return ValidationForm()", @class = "form-validate" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">




                <div class="card-header main-f">
                    <div class="row">
                        <div class="col-md-6 col-5"> <h5 class="card-title mb-0 gp-detail">HRMS-Employee Bank Details</h5></div>
                        <div class="col-md-6 col-7">
                            <a href="@Url.Action("Index", "HRMS_EmployeeBankDetails")" class="btn btn-primary add-new" style="float:right;" tabindex="1"> <i class="fa fa-arrow-left align-middle me-1"></i>BACK TO EMPLOYEE BANK DETAILS LIST</a>
                        </div>
                    </div>
                </div>


                @*<div class="card-header align-items-center d-flex">
            <h4 class="card-title mb-0 flex-grow-1">HRMS-Employee Bank Details </h4>
            <div class="flex-shrink-0">
                <div class="form-check form-switch form-switch-right form-switch-md">
                    <a href="@Url.Action("Index", "HRMS_EmployeeBankDetails")" class="btn btn-primary" style="float:right;" tabindex="12"><i class="fa fa-list" aria-hidden="true"></i> BACK TO EMPLOYEE BANK DETAILS LIST</a>
                </div>
            </div>
        </div>*@



                <!-- end card header -->
                <div class="card-body">
                    <div class="live-preview">
                        <div class="row gy-4">
                            <div class="col-xxl-4 col-md-4">
                                <div>
                                    <label for="basiInput" class="form-label">Employee Branch <code>*</code></label>
                                    <select id="ddlDepartment" class="form-select" aria-label="Default select example">
                                        <option value="0">Select </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-4">
                                <div>
                                    <label for="basiInput" class="form-label">Account Number<code>*</code></label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-4">
                                <div>
                                    <label for="basiInput" class="form-label">Employee Name<code>*</code></label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-4">
                                <div>
                                    <label for="basiInput" class="form-label">IBAN CODE<code>*</code></label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-4">
                                <div>
                                    <label for="basiInput" class="form-label">Bank Name<code>*</code></label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-4">
                                <div>
                                    <label for="basiInput" class="form-label">Bank Branch<code>*</code></label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xxl-4 col-md-4">
                                <div>
                                    <label for="basiInput" class="form-label">Status<code>*</code></label>
                                    <select id="ddlStatus" class="form-select" aria-label="Default select example">
                                        <option value="0">Select </option>
                                    </select>
                                </div>
                            </div>



                            <div class="col-xxl-4 col-md-4">
                                <div>
                                    <input type="button" id="btnsave" value="Save" class="btn btn-success" style=" margin-top: 8%;" />
                                    <input type="button" id="btnReset" value="Reset" class="btn btn-danger" style=" margin-top: 8%;" />
                                </div>
                            </div>
                            <div class="col-xxl-12 col-md-12">
                                <div class="form-floating" style="float:left;">


                                </div>

                            </div>
                            <!--end col-->
                            <div class="col-xxl-12 col-md-12">
                                <div class="table-responsive">



                                </div>
                            </div>

                            <div class="col-xxl-12 col-md-12">
                                <div class="form-floating" style="float:right;">


                                </div>

                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>

            </div>
        </div>
    </div>

}
<!--end col-->



@section scripts{
    <!-- prismjs plugin -->
    <script src="~/assets/libs/prismjs/prism.js"></script>
    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

}

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@

@*<script src="~/Content/js/jquery.min.js"></script>*@
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />

@*<script src="~/Content/js/jquery.min.js"></script>*@

<script>
    $(document).ready(function () {



    });


    $("#btnSave").click(function (e) {
        debugger;
        e.preventDefault();

        var _code = $("#Code").val();
        var _GroupID = $("#GroupID option:selected").val();
        var _CompanyName = $("#CompanyName").val();
        var _TRN = $("#TRN").val();
        var _LocationMapUrl = $("#LocationMapUrl").val();
        var _Email = $("#Email").val();
        var _Address = $("#Address").val();
        var _companyId = $("#HDFID").val();
        var _CurrentCount = $("#HDFCurrentCount").val();
        var _IsActive = $("#IsActive option:selected").val();

        if (_code != "" && _GroupID != "" && _CompanyName != "" && _TRN != "" && _Email != "" && _Address != "") {

            var ProductListArr = [];
            var ProductList = {
                Id: _companyId,
                CurrentCount: _CurrentCount,
                Code: _code,
                GroupID: _GroupID,
                CompanyName: _CompanyName,
                Address: _Address,
                TRN: _TRN,
                Email: _Email,
                LocationMapUrl: _LocationMapUrl,
                IsActive: _IsActive

            };
            //ProductListArr.push(ProductList);

            if (confirm("Are you sure you want to continue ?")) {
                $.ajax({
                    type: 'POST',
                    url: '/CompanyMaster/SaveCompanyMaster',
                    data: JSON.stringify(ProductList),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function (data) {
                        debugger;
                        if (data == "1") {
                            debugger;
                            swal({
                                title: "Success",
                                text: "Records Successfully Saved",
                                type: "success",
                            }).then(function (isConfirm) {
                                if (isConfirm) {
                                    var url = "/CompanyMaster/Index";
                                    window.location.href = url;
                                } else {

                                }
                            });

                        }
                        else if (data == "2") {

                            swal({
                                title: "Success",
                                text: "Records Successfully Updated",
                                type: "success",
                            }).then(function (isConfirm) {
                                if (isConfirm) {
                                    var url = "/CompanyMaster/Index";
                                    window.location.href = url;
                                } else {

                                }
                            });
                        }
                        else if (data == "4") {
                            swal("Warning", "This Code is Already Exist !", "warning");
                        } else {

                            swal("Warning", "Record not save!", "warning");
                        }

                    },
                    error: function (httpResponse) {

                        swal("Warning", "Something Went to Wrong!", "warning");

                    }
                })
            }
        }
        else {

            if (_code == "") {
                swal("Warning", "Please Enter Code !", "warning");
                return false;
            }
            if (_GroupID == "") {
                swal("Warning", "Please Select Group Name!", "warning");
                return false;
            }
            if (_CompanyName == "") {
                swal("Warning", "Please Enter Company Name!", "warning");
                return false;
            }
            if (_TRN == "") {
                swal("Warning", "Please Enter TRN !", "warning");
                return false;
            }

            if (_Email == "") {
                swal("Warning", "Please Enter Email Address!", "warning");
                $("#Email").val('');
                return false;
            }
            if (_Address == "") {
                swal("Warning", "Please Enter Address!", "warning");
                return false;
            }
        }

    })


</script>


