@model MassAutoGarage.Models.HRMS_PaySlip.HRMSPaySlipModel


@{
    ViewBag.Title = "Attendance Report";
    ViewBag.pTitle = "Attendance Report";
    ViewBag.pageTitle = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- New Dive-->
<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />
@section styles{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

<!-- for pdf generate link start Include the html2pdf.js library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<!-- for pdf generate link end Include the html2pdf.js library -->


@using (Html.BeginForm("Index", "HRMS_PaySlip", FormMethod.Post, new { enctype = "multipart/form-data", OnSubmit = "return ValidationForm()", @class = "form-validate" }))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header main-f">
                    <div class="row">
                        <div class="col-md-12 col-12"> <h5 class="card-title mb-0 gp-detail">HRMS - PAY SLIP</h5></div>
                        @*<div class="col-md-6 col-7">
                                <a href="@Url.Action("Index","RetailDeliveryNote")" class="btn btn-primary add-new" style="float:right;" tabindex="1"> <i class="fa fa-arrow-left align-middle me-1"></i> BACK TO DELIVERY NOTE LIST</a>
                            </div>*@
                    </div>
                </div>
                <!-- end card header -->
                <div class="card-body">
                    <div class="live-preview">
                        <div class="row gy-4">

                            <div class="col-xxl-6 col-md-6">
                                <div>
                                    <label for="basiInput" class="form-label">Month/Year <code>*</code></label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xxl-6 col-md-6">
                                <div>
                                    <input type="button" value="Search" id="generatePDF" class="btn btn-success" style=" margin-top: 5%;" />
                                </div>
                            </div>

                            <!--end col-->
                            <div class="col-xxl-12 col-md-12" style="display:none;">
                                <div class="table-responsive">
                                    <div class="col-xxl-12 col-md-12" style=" text-align: right;">
                                        <div>
                                            <a href="javascript:void(0)" onclick="PrintFunction('#printdiv')" class="btn btn-primary">Print</a>
                                        </div>
                                    </div><br />

                                    <div id="content" @*id="printdiv"*@>

                                        <h4 style="text-align:center;"><b>Pay Slip</b></h4>
                                        <table border="1" id="example" class="display table table-bordered" style="width: 100%; font-family: Verdana; border-width: thin; border-collapse: collapse; " cellpadding="4" cellspacing="1">
                                            <thead>
                                                <tr style="border:1px solid">
                                                    <td style="padding:5px;"><b>Date of Joining : </b> 15/11/2024</td>
                                                    <td style="padding:5px;"><b>Employee Name : </b> Kumar Sharma</td>
                                                </tr>
                                                <tr style="border:1px solid">
                                                    <th style="padding:5px;"><b>Pay Period : </b> </th>
                                                    <th style="padding:5px;"><b>Designation : </b></th>
                                                </tr>
                                                <tr style="border:1px solid">
                                                    <th style="padding:5px;"><b>Working Days : </b></th>
                                                    <th style="padding:5px;"><b>Department : </b></th>
                                                </tr>
                                                <tr style="border:1px solid">
                                                    <th style="padding:5px;"><b>Basic Salary : </b></th>
                                                    <th style="padding:5px;"><b>Allowance : </b></th>
                                                </tr>
                                                <tr style="border:1px solid">
                                                    <th style="padding:5px;"><b>No of Leave : </b></th>
                                                    <th style="padding:5px;"><b>Over time / Over time Amount : </b></th>
                                                </tr>
                                                <tr style="border:1px solid">
                                                    <th style="padding:5px;"><b>Bonus : </b></th>
                                                    <th style="padding:5px;"><b>Loan Decution : </b></th>
                                                </tr>
                                                <tr style="border:1px solid">
                                                    <th style="padding:5px;"><b>Additional Decution : </b> </th>
                                                    <th style="padding:5px;"><b>Total Salary : </b></th>
                                                </tr>
                                                <tr style="border:1px solid">
                                                    <th colspan="2" style="padding:20px;text-align:start">
                                                        <b>Employee Signature</b>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <b>HR Manager Signature</b>
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                        <b>Accountant Signature</b>
                                                    </th>
                                                </tr>
                                            </thead>
                                            @*<tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">3</th>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>*@
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xxl-12 col-md-12">

                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>

            </div>
        </div>
    </div>

}
<!--end col-->



@section scripts{
    <!-- prismjs plugin -->
    <script src="~/assets/libs/prismjs/prism.js"></script>
    <!-- App js -->
    <script src="~/assets/js/app.js"></script>

}

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@

@*<script src="~/Content/js/jquery.min.js"></script>*@
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/sweetalert2@7.8.2/dist/sweetalert2.all.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css" rel="stylesheet" />

@*<script src="~/Content/js/jquery.min.js"></script>*@

<script>
    $(document).ready(function () {
        /*   $('#printdiv').attr('style', 'display:block');*/
    });

    //function PrintFunction(div) {
    //    $(div).attr('style', 'display:block');
    //    Popup($(div).html());
    //}

    //function Popup(data) {
    //    var printwindow = window.open('', 'printdiv');
    //    printwindow.document.write('<html><head><title></title>');
    //    printwindow.document.write('</head><body>');
    //    printwindow.document.write(data);
    //    printwindow.document.write('</body><html>');
    //    printwindow.document.close();
    //    printwindow.focus();
    //    printwindow.print();
    //    printwindow.close();
    //    $('#printdiv').attr('style', 'display:block');
    //}
</script>

<script>
    document.getElementById("generatePDF").addEventListener("click", () => {
        // Select the element to be converted
        const element = document.getElementById("content");

        // Set PDF options
        const options = {
            margin: 1,
            filename: 'PaySlip.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
        };

        // Generate the PDF
        html2pdf().set(options).from(element).save();
    });
</script>
